.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style-type: none;	
}

.header-list-item {
}

.list-container {
	margin: 2px;
	padding: 2px;
	border: 2px solid black;
}

.card-list {
	padding: 0 1% 0 1%;
	width: fit-content;
	border: 2px solid black;
}